<div class="container">
<div class="bg">
	    	   	
    		<div class="row">  	
	    		<div class="col-sm-11">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Referencia Familiar</h2>
	    				<!-- <div class="status alert alert-success" ></div>-->
	    					<% if(flash && flash.err) { %>
							<ul class="alert alert-success">
								<% Object.keys(flash.err).forEach(function(error){ %>
								<li> <%- JSON.stringify(flash.err[error]) %></li>
								<% }) %>
							</ul>
							<% } %>
	    				

				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post" action="/cliente/create">
				    	 <div class="form-group col-md-2">
				                <label name="tipoDocumento"  >Tipo de Documento</label>
				            </div>
				    	 <div class="form-group col-md-4">
				                <select  name="tipoDocumento" class="form-control" required="required" >
				                <option value="Cédula">Cédula</option>
				                <option value="Pasaporte">Pasaporte</option>
				                </select>
				            </div>
				            <div class="form-group col-md-2">
				                <label  >Número de Documento</label>
				            </div>
				            <div class="form-group col-md-4">
				                <input type="number" name="documento" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
				                <label  >Nombres</label>
				            </div>
				            <div class="form-group col-md-4">
				                <input type="text" name="nombre" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
				                <label  >Apellidos</label>
				            </div>
				           <div class="form-group col-md-4">
				                <input type="text" name="apellido" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
				                <label  >Teléfono</label>
				            </div>
				            <div class="form-group col-md-4">
				                <input type="number" name="telefono" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
				                <label   >Celular</label>
				            </div>
				            <div class="form-group col-md-4">
				                <input type="number" name="celular" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
				                <label  >Dirección</label>
				            </div>

				            <div class="form-group col-md-4">
				                <input type="text" name="direccion" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
				                <label  >E-mail</label>
				            </div>

				            <div class="form-group col-md-4">
				                <input type="email" name="email" class="form-control" required="required" >
				            </div>
				            <div class="form-group col-md-2">
				                <label name="documento"  >Fecha de Nacimiento</label>
				            </div>
				            <div class="form-group col-md-4">
				                <input type="date" name="fechaNacimiento" class="form-control" required="required" >
				            </div>

				                                   
				            <div class="form-group col-md-4">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
				            </div>
				        </form>
	    			</div>
	    		</div>
	    		
	    				
	    			</div>
    			</div>    			
	    	</div>  
    	
